APP_NAME = "HR system"
APP_VERSION = "1.0.0"
FILE_EXTENTION = ["audio/mpeg","audio/wav","audio/x-wav","audio/ogg","audio/aac","audio/flac","audio/mp4"]
FILE_SIZE = 10 
MODEL_TYPE = "small"
DEVICE = "gpu"
COMPUTE_TYPE = "int8"
LLM_MODEL_NAME= Qwen/Qwen2.5-3B-Instruct
LLM_MAX_NEW_TOKENS=250
LLM_TEMPERATURE=0.6
OLLAMA_MODEL = qwen2.5:3b
