streamlit==1.58.0
audio-recorder-streamlit==0.0.7
langchain==0.3.25
langchain-core==0.3.63
langchain-community==0.3.23
langchain-huggingface==0.1.2
langchain-ollama==0.2.3
transformers==4.44.2
accelerate==0.34.2
faster-whisper==1.0.3
pydantic-settings==2.4.0
python-dotenv==1.0.1
pandas==2.2.2
reportlab==4.2.2
fastapi==0.115.0
uvicorn==0.30.0
python-multipart==0.0.9
requests==2.32.3
